<app-hero></app-hero>
<div class="panel-container panel-left">
    <div class="side-panel">
        <div class="panel-icon panel-icon-left">
            Visage is a first-person survival/psychological horror game that takes place inside a vast house with a terrible history, a timeline marked again and again by death. Some of the families who lived here were brutally murdered, some of them went insane, many committed suicide.
            As a player, you’ll relive these events through pieced-together images and fragments of memories that drag you closer to the truth behind the house and its dark past.
        </div>
    </div>
</div>
<div class="panel-container panel-right">
    <div class="side-panel">
        <div class="panel-icon panel-icon-right">
            The game is set inside a huge house in which terrible things have happened. You’ll wander through the gloomy corridors, explore every dead room, and get lost in endless mazes, your head filling with memories of the dead families that once lived in this very home. This twisted environment, void of any life other than yours, takes you to places you couldn't even bear imagining.
        </div>
    </div>
</div>
<div class="panel-container panel-left">
    <div class="side-panel">
        <div class="panel-icon panel-icon-left">
            This house is stained with a terrible past. Families were brutally murdered by their own family members, people went insane, many committed suicide, and other grisly events occurred. Each and every room has its story painted on an invisible canvas. As a player, you will relive parts of this dark past, and each of its fragments will leave you restless and terrified. You’ll soon wish you could join the dead's ranks in their abyss, but death won't help you leave this place. Will you run from it, or will you try to uncover the truth behind the shadows?
        </div>
    </div>
</div>
<div class="panel-container panel-right">
    <div class="side-panel">
        <div class="panel-icon panel-icon-right">
            In Visage, you are defenseless; no weapons could save you from the dreadful entities stalking you from the next corner, the next door, or underneath your feet. You’ll be able to pick up key elements, interact with the environment, and search for things that may help you escape this nightmare or pull you deeper into it.
        </div>
    </div>
</div>